@model HotelBooking.Models.DichVu

@{
    ViewData["Title"] = "Xóa Dịch vụ";
}

<h2 class="text-center text-danger">BẠN CÓ CHẮC MUỐN XÓA DỊCH VỤ NÀY?</h2>

<div class="border p-3">
    <h4>Kiểu dịch vụ: @Model.KieuDichVu</h4>
    <h5>Giá: @Model.Gia.ToString("N0")</h5>

    <form asp-action="DeleteConfirmed">
        <input type="hidden" asp-for="MaDV" />
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </form>
</div>
